{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Lista de Citas Pendientes</h1>
        <div class="row">
            <div class="col-12 mb-2 text-center">
                <a href="{% url 'agenda' %}" class="btn btn-primary m-3" style="width: 250px">Agendar Paciente</a>
                <a href="{% url 'agenda_list_finalizado' %}" class="btn btn-success m-3" style="width: 250px">Ver Pacientes Finalizados</a>
            </div>
        </div>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre del Paciente</th>
                    <th scope="col">Nombre del Dentista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Pendiente</th>
                    <th scope="col">Tipo de Tratamiento</th>
                </tr>
            </thead>
            <tbody>
                {% for p in agendas %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.Pacientes_id }}</td>
                        <td>{{ p.Dentistas_id }}</td>
                        <td>{{ p.Fecha }}</td>
                        <td>{% if p.Status %} 🟢 {% else %} 🔴{% endif %}</td>
                        <td>{{ p.TipoTratamiento }}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if agendas.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ agendas.previous_page_number }}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Anterior</span>
                    </li>
                {% endif %}

                {% for num in agendas.paginator.page_range %}
                    {% if agendas.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if agendas.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ agendas.next_page_number }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}