{% extends 'base.html' %}

{% block content %}

    <div class="card row">
        <div class="card-header">
            <h1 class="text-center">Facturacion</h1>
        </div>
        <div class="row pt-4 pb-2">

            <div class="col-6 ml-2">
                <a href="{% url 'insertar_factura' %}" class="btn btn-primary me-2">Crear Factura</a>
            </div>
        </div>
        {% for f in Pagos %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Paciente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ f.id }}</td>
                    <td>{{ f.Pagos_PacienteId }}</td>
                    <td>{{ f.PagosFechaPago }}</td>
                    <td>
                        <a href="{% url 'facturacion_details' f.id %}"><img class="icon-edit" src="/media/Logo/Icons/information.png" alt=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

{% endblock %}