{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Información </h2>
                <p><strong>Nombre:</strong> {{ paciente.PacientesNombre }} {{ paciente.PacientesApellido }}</p>
                <p><strong>Email:</strong> {{ paciente.PacientesEmail }}</p>
                <p><strong>Dirección:</strong> {{ paciente.PacientesDireccion }}</p>
                <p><strong>Teléfono:</strong> {{ paciente.PacientesTelefono }}</p>
                <p><strong>Activo:</strong> {{ paciente.PacientesActivo }}</p>
            </div>
            <div class="col-md-6">
                <h2>Imágenes médicas</h2>
                {% for imagen in imagenes_medicas %}
                    <p><strong>Tipo:</strong> {{ imagen.ImagenesMedicas_Tipos }}</p>
                    <p><strong>Descripción:</strong> {{ imagen.ImagenesMedicasTiposDescripcion }}</p>
                    <img src="{{ imagen.ImagenesMedicas_Img.url }}" alt="Imagen médica" class="img-fluid">
                {% endfor %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Tratamientos</h2>
                <ul class="list-group">
                    {% for tratamiento in tratamientos %}
                        <li class="list-group-item">
                            <p><strong>Tratamiento:</strong> {{ tratamiento.Tratamiento_id_foreignkey.nombre_tratamiento }}</p>
                            <p><strong>Pieza dental:</strong> {{ tratamiento.Pieza_dental }}</p>
                            <p><strong>Precio:</strong> {{ tratamiento.Tratamiento_id_foreignkey.Precio }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>



{% endblock %}