{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container py-4">
        <div class="m-3">
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
        <form method="POST" action="{% url 'Insertar_Dentista' %}" class="needs-validation" novalidate>

            {% csrf_token %}

            <div class="mb-3">
                <label for="Nombre" class="form-label">Dentistas Nombre:</label>
                <input type="text" class="form-control" id="DentistasNombre" name="DentistasNombre" required>
                <div class="invalid-feedback">
                    Ingresa un nombre válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="DentistasApellido" class="form-label">Dentistas Apellido</label>
                <input type="text" class="form-control" id="DentistasApellido" name="DentistasApellido" required>
                <div class="invalid-feedback">
                    Ingresa un primer apellido válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="DentistasEspecialidad" class="form-label">Dentistas Especialidad</label>
                <input type="text" class="form-control" id="DentistasEspecialidad" name="DentistasEspecialidad"
                    required>
                <div class="invalid-feedback">
                    Ingresa un segundo apellido válido.
                </div>
            </div>


            <div class="mb-3">
                <label for="DentistasTelefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="DentistasTelefono" name="DentistasTelefono"
                    placeholder="Ingresa tu cédula" required>
                <div class="invalid-feedback">
                    Ingresa un número de cédula válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="DentistasEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="DentistasEmail" name="DentistasEmail" required>
                <div class="invalid-feedback">
                    Ingresa un segundo apellido válido.
                </div>
            </div>

            <div class="mb-3">
                <label for="DentistasEmailNormalizado" class="form-label">Email Normalizado</label>
                <input type="text" class="form-control" id="DentistasEmailNormalizado" name="DentistasEmailNormalizado"
                    required>
                <div class="invalid-feedback">
                    Ingresa un segundo apellido válido.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>

        </form>


    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>


        
{% endblock %}
        