{% extends 'base.html' %}

{% block content %}
   
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Email Normalizado</th>
                <th>Activo</th>
                
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{ paciente.id }}</td>
                <td>{{ paciente.PacientesNombre }}</td>
                <td>{{ paciente.PacientesApellido }}</td>
                <td>{{ paciente.PacientesDireccion }}</td>
                <td>{{ paciente.PacientesTelefono }}</td>
                <td>{{ paciente.PacientesEmail }}</td>
                <td>{{ paciente.PacientesEmailNormalizado }}</td>
                <td>{{ paciente.PacientesActivo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>



{% endblock %}

