{% extends 'base.html' %}

{% block content %}
    <div class="card row">
        <div class="card-header">
            <h1 class="text-center">Lista de Dentistas</h1>
        </div>
        <div class="row pt-4 pb-2">
            <div class="col-12 ml-2">
                <a href="{% url 'Insertar_Dentista' %}" class="btn btn-primary me-2">Crear Nuevo Dentista</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Menú</th>
                </tr>
            </thead>
            <tbody>
                {% for dentista in dentistas %}
                    <tr>
                        <td>{{ dentista.DentistasID }}</td>
                        <td>{{ dentista.DentistasNombre }}</td>
                        <td>{{ dentista.DentistasApellido }}</td>
                        <td>{{ dentista.DentistasTelefono }}</td>
                        <td>{{ dentista.DentistasEmail }}</td>
                        <td class="edit_menu">
                            <a href="{% url 'edit_dentista' pk=dentista.DentistasID %}">
                                <img class="icon-edit" src="/media/Logo/Icons/edit.png" alt="Editar">
                            </a>
                            <a href="{% url 'dentista_information' dentista_id=dentista.DentistasID %}">
                                <img class="icon-edit" src="/media/Logo/Icons/information.png" alt="Información">
                            </a>
                            <a href="{% url 'delete_dentista' pk=dentista.DentistasID %}">
                                <img class="icon-edit" src="/media/Logo/Icons/delete.png" alt="Eliminar">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
