{% extends 'base.html' %}

{% block content %}
    <div class="card row">
        <div class="card-header">
            <h1 class="text-center">Lista de Pacientes</h1>
        </div>
        <div class="row pt-4 pb-2">

            <div class="col-12 ml-2">
                <a href="{% url 'insertar_paciente' %}" class="btn btn-primary me-2">Crear Nuevo Paciente</a>
            </div>
        </div>


    <table class="table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Active</th>
                <th scope="col">Menu</th>
            </tr>
            </thead>
            <tbody>
            {% for p in pacientes %}
                <tr>
                    <th> {{ p.id }}</th>
                    <th>{{ p.PacientesNombre }}</th>
                    <td>{{ p.PacientesApellido }}</td>
                    <td>{{ p.PacientesTelefono }}</td>
                    <td>{{ p.PacientesEmail }}</td>
                    <td>{% if p.PacientesActivo %} 🟢 {% else %} 🔴 {% endif %}</td>
                    <td class="edit_menu">
                        <li>
                            <a href="#"><a href="{% url 'edit' p.id %}"><img class="icon-edit" src="/media/Logo/Icons/edit.png" alt=""></a></a>
                        </li>
                        <li>
                            <a href="#"><a href="{% url 'information' p.id %}"><img class="icon-edit" src="/media/Logo/Icons/information.png" alt=""></a></a>
                        </li>
                        <li>
                            <a href="#"><a href="#"><img class="icon-edit" src="/media/Logo/Icons/delete.png" alt=""></a></a>
                        </li>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </table>
{% endblock %}
